export(check_completeness_list)
export(disaggregate_heat)
export(fast_round_time)
export(get_match_values)
export(get_match_values_list)
export(impute_linear)
export(impute_ma)
export(interpolate_linear)
export(ma)
export(make_cumulative)
export(reset_meter)
export(reset_meter_binary)
export(rle2)
export(scale_accum)
export(spms)
import(data.table)
importFrom(Rcpp, evalCpp)
useDynLib(smutils, .registration = TRUE)